header {
  text-align: center;
  font-size: 30px;
  color: #cc25e6;
}

main, html {
  margin: 0;
  padding: 0;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a0c64;
}

.container {
  text-align: center;
  color: #ff27d7;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 24px;
  border: none;
  background-color: #d834db;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #59074a;
}

.container {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 24px;
  border: 1px solid #1875E8;
  box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
  background-image: url("img/Ruido.png");
  background-size: 100% 100%;
  position: relative;
}